@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&display=swap');

html, body {
    background-color: #252323;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: white;
}

li {
    list-style-type: none;
    margin: 0.5rem 0;
}

hr {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border-radius: 8px;
    padding: 0.5rem;
}